extends ../layout

block content
  h1= title
  //- p Welcome to #{title}
  //- ul
  //- each room, key in rooms
  //-   li
  //-     a(href=`/rooms/${room.id}`) #{room.name}


  // Content here
  main.px-3
    p
      | Hola 
      span#username
      | ,
    p#parrafo
      | Arrastra a 
      span#turtleName
      |  a una sala para jugar
    #avatar
    br
    // Salas
    .container.overflow-hidden.salas
      .row.gy-5
        each room, key in rooms
          .col-6.parentRoom
            #room1.p-3.border.bg-light.room(name='' ondrop='drop(event)' ondragover='allowDrop(event)')
              p #{room.name}
  // Funciones JS
  script(type='text/javascript' src='/javascripts/playFunctions.js')
