extends layout

block content
  h1= title
  main.px-3
    // Formulario
    form#formu(action='/rooms' method="post")
      h3.h3.mb-3.fw-normal Selecciona tu avatar 
        br
        | y escribe tu nombre de usuario
      each avatar, index in avatars
        .form-check.form-check-inline
          if avatar.available
            input#inlineRadio1.form-check-input(type='radio' name='avatar' value=avatar.id required)
            img(src=avatar.image width="64")
          else
            input#inlineRadio1.form-check-input(type='radio' name='avatar' value=avatar.id required disabled)
          label.form-check-label(for='inlineRadio1') #{avatar.id}  
      input#username.w-100.form-control-lg(type='username' name="name" placeholder='Nombre de usuario' required)
      button.w-100.btn.btn-lg.btn-primary(type='submit') Continuar
      p.mt-5.mb-3.text-muted ©2021
      // End Formulario
    // End Main
  // Funciones JS
  script(type='text/javascript' src='/javascripts/loginFunctions.js')

